---
title: Washington Wellness Nutrition
layout: default
---

<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<div class="9u">
					<div id="content">

						<!-- Content -->

							<article>
								<header>
									<h2>Nutrition</h2>
									<p>

									</p>
								</header>

								<div class="row">
									<h5>
										Workout programs that are designed for weight loss will follow a "low glycemic" high protein based food regime. Low glycemic foods have a better effect on the body for overall daily health.
									</h5>
								</div>
								<div class="row">
									<div class="4u">
										<img src="{{ site.baseurl }}/assets/images/IMG_0309.JPG" alt="" style=" width: 100%; height: auto;" />
									</div>
									<div class="8u">
										<p>
											A low glycemic food regime is one that selects alteration of circulating glucose levels. Glycemic index (GI) and glycemic load (GL) are measures of the effect on blood glucose level after a food containing carbohydrates is consumed. Glucose is one of the body's main sources of energy.
										</p>
									</div>
								</div>
								<div class="row">
									<div class="4u">
										<img src="{{ site.baseurl }}/assets/images/IMG_0307.JPG" alt="" style=" width: 100%; height: auto;" />
									</div>
									<div class="8u">
										<p>
											When you consume carbohydrates your liver breaks down the carb into glucose. Glucose is used to fuel the brain, muscles, and other internal organs, hence giving you sustained energy throughout the day versus consuming a high GI food and "crashing" hard.
										</p>
									</div>
								</div>
								<div class="row">
									<div class="4u">
										<img src="{{ site.baseurl }}/assets/images/IMG_0308.JPG" alt="" style=" width: 100%; height: auto;" />
									</div>
									<div class="8u">
										<p>
											A glucose level is set at 100,  and all foods are indexed against that number ranging from 0 to 100. Low GI foods affect blood glucose and insulin levels less and have a slower rate of digestion and absorption.
										</p>
									</div>
								</div>
							</article>

					</div>
				</div>
				<div class="3u">
					<h3>Nutrtion Posts</h3>
					<ul>
					{% for post in site.categories['nutrition'] %}{% if post.title != null %}
					<li><span>{{ post.date | date: "%b %d" }}</span> » <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
					{% endif %}{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</section>
