---
title: Washington Wellness Workout
layout: default
---

<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<div class="3u">
					<h3>Workout Posts</h3>
					<ul>
					{% for post in site.categories['workout'] %}{% if post.title != null %}
					<li><span>{{ post.date | date: "%b %d" }}</span> » <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
					{% endif %}{% endfor %}
					</ul>
				</div>
				<div class="9u skel-cell-important">
					<div id="content">

						<!-- Content -->

							<article>
								<header>
									<h2>Workouts</h2>
									<p>Every workout follows a specific program design. Workout programs vary based on the client's goals. The following workout regime are offered below:</p>
								</header>

								<h3>Rehabilitation Exercise</h3>
								<p>
									Rehab and correctional exercise templates are designed to the client or patient needs. This workout regime is based on slow isolated controlled movements to get muscles to "fire" efficiently.
								</p>

								<h3>Strength Training</h3>
								<p>
									Muscle hypertrophy is the scientific evidence of muscle growth. This occurs as a result of strength or resistance training that stimulates cell activity in muscle fibers activating them to grow. Hypertrophy will not occur from an aerobic based exercise regimen.
								</p>

								<h3>Strength and Conditioning</h3>
								<p>
									Strength and Conditioning programs are tailored to the athlete/client needs. This exercise regimen involves the combination of strength exercise and conditioning work to help advance an athletes physical performance.
								</p>

								<h3>Core training</h3>
								<img src="{{ site.baseurl }}/assets/images/IMG_0491.jpg" alt=""  style="width: 75%;height: auto;"/>
								<p>
									The anterior and posterior core are the main components of the human body for daily function, mobility and balance. Core workout programs involve multiple movement patterns to improve "core stability"
								</p>

								<h3>ART (Active Release Techniques)</h3>
								<p>
									ART is a form of myofascia release (therapy) involving the release of restricted muscle tissue fiber to help the human body mechanics function properly.
								</p>

								<h3>HIIT Training (high intensity interval training)</h3>
								<p>
									HIIT training is a workout program designed around aerobic based exercise training exercise targeted around weight loss. When the heart rate is elevated you go into a "fat burning zone" This program is focused on weight loss and training the heart rate to have a slower resting heart rate. The lower your heart rate the better your HIIT training exercise program will become.

								</p>
							</article>

					</div>
				</div>
			</div>
		</div>
	</section>
