$color-bg:					#f7f7f7;
$color-fg:					#8BC34A;
$color-fg-bold:				#8BC34A;
$color-fg-light:			#999;
$color-accent-bg:			#37c0fb;
$color-accent-fg:			#fff;
$color-border:				#e0e0e0;

$size-radius:				5px;
