$color-bg:					#e9ebee;
$color-fg:					#8BC34A;
$color-fg-bold:				#8BC34A;
$color-fg-light:			#999;
$color-accent-bg:			#37c0fb;
$color-accent-fg:			#fff;
$color-border:				#626262;

$size-radius:				5px;
