		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<div class="contact">
						<a href="mailto:{{ site.email }}?Subject=Hello from Website" target="_top" class="button icon fa-envelope"> Contact Me</a>
					</div>

				<!-- Icons -->
					<ul class="icons">
						<li><a href="https://twitter.com/{{ site.twitter }}" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.instagram.com/{{ site.instagram }}" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.youtube.com/channel/{{ site.youtube }}" target="_blank" class="icon fa-youtube-play"><span class="label">Instagram</span></a></li>
					</ul>

				<!-- Copyright -->
					<div class="copyright">
						<p>
							{{ site.email }}
						</p>
						<ul class="menu">
							<li>&copy; Washington Wellness. All rights reserved</li>
						</ul>
					</div>

			</div>

			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-77733905-1', 'auto');
			  ga('require', 'linkid');
			  ga('send', 'pageview');

			</script>

	</body>
</html>
