{% include header.html %}
<!-- Main -->
	<section class="wrapper style1">
		<div class="container">

			<!-- Blog -->
				<section>
					<header class="major">
						<h2>{{ page.title }}</h2>
						<p>Posted {{ page.date | date_to_string }}</p>
					</header>
					<div class="row">
						<div class="8u -2u">
							<section class="box">
								<a href="#" class="image left"><img src="{{ site.baseurl }}{{ page.featured }}" alt="" /></a>
								{{ page.content }}
							</section>
						</div>
					</div>
					{% if site.disqus_shortname %}
					<div class="post-comments">
					  <div id="disqus_thread"></div>
					  <script type="text/javascript">
					      var disqus_shortname = '{{ site.disqus_shortname }}'; // required: replace example with your forum shortname
					      (function() {
					          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					      })();
					  </script>
					</div>
					{% endif %}
				</section>

		</div>
	</section>
{% include footer.html %}
